.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.pagination {
  height: 50px;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  display: flex;
  justify-content: center;
}
